<!-- Daily Activity -->
<mat-card class="w-100">
  <mat-card-content>
    <h4 class="mb-5 mx-3">Bill List</h4>

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">

        <!-- Id Column -->
        <ng-container matColumnDef="bill_no">
          <th mat-header-cell *matHeaderCellDef> Bill No </th>
          <td mat-cell class="fw-medium" *matCellDef="let element"> {{element.bill_no}} </td>
        </ng-container>

        <!-- Assigned Column -->
        <!-- <ng-container matColumnDef="assigned">
          <th mat-header-cell *matHeaderCellDef> Assigned </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.name }}</p>
            <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
          </td>
        </ng-container> -->

        <!-- Project Column -->
        <!-- <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Project </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium op-5">{{element.project}}</p>
          </td>
        </ng-container> -->

        <!-- Priority Column -->
        <ng-container matColumnDef="bill_date">
          <th mat-header-cell *matHeaderCellDef> Bill Date </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{element.bill_date | date}}</p>
          </td>
        </ng-container>

        <!-- Budget Column -->
        <ng-container matColumnDef="shop_name">
          <th mat-header-cell *matHeaderCellDef> Shop Name </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{element.shop_name}}</p>
          </td>
        </ng-container>

        <!-- Budget Column -->
        <ng-container matColumnDef="mobile_no">
          <th mat-header-cell *matHeaderCellDef> Mobile No </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{element.mobile}}</p>
          </td>
        </ng-container>

        <!-- Budget Column -->
        <ng-container matColumnDef="customer_name">
          <th mat-header-cell *matHeaderCellDef> Customer Name </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{element.name}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <!-- <button (click)="editForm(element)">Edit</button> -->
            <button mat-button class="btn btn-warning fw-normal mt-4" (click)="openDialog(element)">View</button>
          </td> 
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>