.listing th{
    white-space: nowrap;
}

.alert {
    padding: 10px;
    margin-top: 5px;
}

.error {
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

table th {
    white-space: nowrap;
}

.form-control.is-invalid, .was-validated .form-control:invalid{
    padding-right: 0.6em!important;
}

::ng-deep .p-datatable-wrapper  {
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th{
    white-space: nowrap;
}

::ng-deep{

    .purchasing-list .p-datatable .p-datatable-header , .purchasing-list .p-datatable .p-datatable-tbody > tr > td , .purchasing-list .p-datatable .p-datatable-thead > tr > th{
        padding: 0.5rem;
    }

    .main-table .p-dropdown{
        padding: 0 10px;
    }
}