::ng-deep {
    .reportMaster .p-dropdown  , .reportMaster .p-calendar .p-inputtext{
        width: 100%;
        display: flex;
        align-items: center;
        height: 35px;
    }

    .reportMaster .p-calendar{
        width: 100%;
    }

    .reportMaster .p-button.p-button-icon-only{
        height: 35px;
        background-color: #fb9678;
        border: none;
    }

    .reportMaster .p-inputtext{
        display: flex;
        align-items: center;
    }
}

// .add-listings-btn {

    button {
        display: inline-block;
        padding: 8px 30px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        border-radius: 5px;
        margin-top: 20px;
        transition: var(--transition);
        border: none;
        background-color: var(--mainColor);

        font: {
            size: var(--fontSize);
            weight: 600;
        }

        ;

        &:hover {
            background-color: #3b99ca;
            color: var(--whiteColor);
        }
    }

    .reset_btn {
        background-color: var(--optionalColor);
        color: var(--whiteColor);
    }

    .submit_btn {
        background-color: var(--mainColor);
        color: var(--whiteColor);
    }
// }