.add-listings-btn {

    button {
        display: inline-block;
        padding: 8px 30px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        border-radius: 5px;
        margin-top: 25px;
        transition: var(--transition);
        border: none;
        background-color: var(--mainColor);

        font: {
            size: var(--fontSize);
            weight: 600;
        }

        ;

        &:hover {
            background-color: #3b99ca;
            color: var(--whiteColor);
        }
    }

    .reset_btn {
        background-color: var(--optionalColor);
        color: var(--whiteColor);
    }

    .submit_btn {
        background-color: var(--mainColor);
        color: var(--whiteColor);
    }
}

.alert {
    padding: 10px;
    margin-top: 5px;
}


.star_class {
    color: red;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .add-listings-box {
        padding: 0 20px 0 20px;

        h3 {
            padding: 15px 20px;

            margin: {
                bottom: 20px;
                left: -20px;
                right: -20px;
            }

            ;
        }

        .form-group {
            .form-control {
                height: 35px;
                font-size: 13.5px;

                padding: {
                    right: 10px;
                    left: 10px;
                }

                ;
            }

            select {
                height: 35px;
                line-height: 45px;
                font-size: 13.5px;

                padding: {
                    right: 10px;
                    left: 10px;
                }
            }
        }
    }

}

.error {
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}


::ng-deep {

    .p-column-filter-row .p-column-filter-menu-button,
    .p-column-filter-row .p-column-filter-clear-button {
        display: none !important;
    }
}


.purchasingForm table th {
    padding: 10px 5px;
    white-space: nowrap;
}

.purchasingForm .body-wrapper {
    padding: 10px 40px 0 50px !important;
}

.purchasingForm table td {
    padding: 10px 5px;
}


@media(max-width : 1440px){
    .purchasingForm table th {
        padding: 5px;
        white-space: nowrap;
    }

    .purchasingForm table td {
        padding: 5px;
    }
}

::ng-deep {
    .purchasingForm .p-dropdown {
        // height: 35px;
        padding: 2px;
        border-bottom: 1px solid #dedede;
        padding: 0;
        font-size: 13px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
    }

    .pi-chevron-down:before {
        font-size: 12px;
    }

    .purchasingForm .p-dropdown .p-dropdown-trigger {
        width: 1.2rem !important;
    }

    .purchasingForm .p-dropdown .p-dropdown-label {
        padding: 0;
    }

    // .purchasingForm table td{
    //     padding: 5px 8px 0 8px!important;
    // }

    .purchasingForm td input,
    .purchasingForm td select {
        border-bottom: 1px solid #dedede;
        padding: 0;
        font-size: 13px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
    }

    .main-fields .p-inputtext{
        height: 10px;
    }

    .labour-select{
        width: 100px;
    }
}