<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h3>{{Content.title}}</h3>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start -->
    <div class="add-listings-box1 purchasingForm">
        <form class="purchasing-table-form" [formGroup]="purchasingForm" (ngSubmit)="submitApi(formRef)"
            #formRef="ngForm">
            <div class="row main-fields">
                <div class="col-lg-3 col-md-12 form-group">
                    <label for="">Shop Name</label>
                    <input type="text" class="form-control" formControlName="shop_name" placeholder="Shop Name"
                        [class.is-invalid]="(formRef.submitted &&
                        purchasingForm.get('shop_name')?.invalid) ||
                        (purchasingForm.get('shop_name')?.touched &&
                        purchasingForm.get('shop_name')?.invalid)" required>
                    <div class="invalid-feedback"> Shop Name is Required</div>
                </div>
                <div class="col-lg-3 col-md-12 form-group">
                    <label>Bill No <span style="color: red;">*</span></label>
                    <input class="form-control" [class.is-invalid]="(purchasingForm.get('bill_no')?.touched &&
                purchasingForm.get('bill_no')?.invalid)" type="text" formControlName="bill_no" placeholder="Enter Bill No"
                        required>
                    <div class="invalid-feedback"> Bill No is Required </div>
                </div>
                <div class="col-lg-3 col-md-12 form-group">
                    <label>Bill Date <span style="color: red;">*</span></label><br>
                    <p-calendar placeholder="Enter Date" dateFormat="dd/mm/yy" [showIcon]="true" [class.is-invalid]="(purchasingForm.get('bill_date')?.touched &&
                purchasingForm.get('bill_date')?.invalid)" formControlName="bill_date"></p-calendar>
                    <div class="invalid-feedback mt-1"> Bill Date is Required </div>
                </div>
                <div class="col-lg-3 col-md-12 form-group">
                    <label>City <span style="color: red;">*</span></label>
                    <input class="form-control"
                        [class.is-invalid]="(purchasingForm.get('city')?.touched && purchasingForm.get('city')?.invalid)"
                        type="text" formControlName="city" placeholder="City" required>
                    <div class="invalid-feedback"> City is Required </div>
                </div>
            </div>

            <h4 class="heading-css">Item List</h4>
            <div style="overflow-x: auto; max-height: 240px;">
                <table class="table-bordered table purchasing-table" style="max-height: 240px;">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th style="min-width: 100px;">Product</th>
                            <th>Grs Wt</th>
                            <th>Melting</th>
                            <th>Wastage</th>
                            <th>Sm Pck Wt</th>
                            <th>Sm Pck Qty</th>
                            <th>Big P Wt</th>
                            <th>Big P Qty</th>
                            <th>Box Wt</th>
                            <th>Box Qty</th>
                            <th>Labour By</th>
                            <th>Labour</th>
                            <th>Total Lab</th>
                            <th>Piec. Qty</th>
                            <th>Net Wt</th>
                            <th style="min-width: 70px;">Rate</th>
                            <th style="min-width: 70px;">Fine</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <ng-container formArrayName="productList">
                        <tbody *ngFor="let product of getProductArray().controls; index as index; last as last">
                            <tr [formGroupName]="index">
                                <td style="text-align: center;">{{index+1}}</td>
                                <td style="min-width: 100px;">
                                    <p-dropdown formControlName="product_id" (onChange)="setProductMelting(index)"  [options]="products" appendTo="body" optionLabel="name" optionValue="id" [editable]="true"></p-dropdown>
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control"
                                        formControlName="gross_weight">
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control" formControlName="melting">
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control" formControlName="wastage">
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control"
                                        formControlName="small_pack_weight">
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control"
                                        formControlName="small_pack_quantity">
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control"
                                        formControlName="big_pack_weight">
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control"
                                        formControlName="big_pack_quantity">
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control"
                                        formControlName="box_weight">
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control"
                                        formControlName="box_quantity">
                                </td>
                                <td>
                                    <select formControlName="labour_by" class="form-control form-select labour-select">
                                        <option value="" disabled>Labour By</option>
                                        <ng-container *ngFor="let value of labour_dropdown">
                                            <option [value]="value.actualValue">{{value.value}}</option>
                                        </ng-container>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control" formControlName="labour">
                                </td>
                                <td>
                                    <span
                                        style="border-bottom: 1px solid #dedede; display: block;">{{getNetWeight('total_labour'
                                        , index)}}</span>
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control"
                                        formControlName="piece_quantity">
                                </td>
                                <td><span style="border-bottom: 1px solid #dedede; display: block;">{{getNetWeight('net
                                        weight' , index)}}</span></td>
                                <td><span
                                        style="border-bottom: 1px solid #dedede; display: block;">{{getNetWeight('rate'
                                        , index)}}</span></td>
                                <td><span
                                        style="border-bottom: 1px solid #dedede; display: block;">{{getNetWeight('fine'
                                        , index)}}</span></td>
                                <td style="text-align: center; cursor: pointer;" *ngIf="last"
                                    (click)="addProductRow('add')">
                                    <span>+</span>
                                </td>
                                <td style="text-align: center; cursor: pointer;" *ngIf="!last"
                                    (click)="addProductRow('remove',index)">
                                    <span>-</span>
                                </td>
                            </tr>
                        </tbody>
                    </ng-container>
                </table>
            </div>

            
            <div class="add-listings-btn mt-1">
                <div style="margin: 10px 0; float: right;width: 29.2%;">
                    <table class="table-bordered" style="border-color: #dedede;width: 100%;">
                        <thead>
                            <tr>
                                <th>Total Fine</th>
                                <th>Gold Rate</th>
                                <th>Payment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{getAmount('total_fine')}}</td>
                                <td><input type="number" min="0" class="form-control" formControlName="gold_rate" placeholder="Gold Rate"></td>
                                <td>{{getAmount('payment')}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="submit_btn mt-2" style="float: right;">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>