::ng-deep{
    .p-datatable-wrapper  {
        overflow-x: auto;
        width: 100%;
        max-width: 100%;
    }

    .p-datatable .p-datatable-header{
        padding: 0.5rem 0.1rem;
    }

    .p-input-icon-left > .p-inputtext{
        padding: 0.5rem 2rem;
    }

    .p-datatable .p-datatable-thead > tr > th , .p-datatable .p-datatable-tbody > tr > td{
        font-size: 15px;
        padding: 0.3rem 1.2rem;
    }

    .p-datatable-wrapper {
        overflow-x: auto;
        width: 100%;
        max-width: 100%;
    }
    
    .bill-list .p-datatable .p-datatable-thead > tr > th{
        white-space: nowrap;
    }

    // .p-button.p-button-icon-only{
    //     height: 1.5rem!important;
    // }

    .bill-list .rowExpand td{
        border: none!important;
    }

    .bill-list .rowExpand th{
        padding: 5px 20px 10px!important;
    }

    .bill-list .row-tr td:first-child{
        padding: 10px!important;
    }

    .bill-list tr td button{
        padding: 0!important;
        height: 2rem!important;
    }
    
}