.add-listings-btn {

    button {
        display: inline-block;
        padding: 8px 30px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        border-radius: 5px;
        margin-top: 25px;
        transition: var(--transition);
        border: none;
        background-color: var(--mainColor);

        font: {
            size: var(--fontSize);
            weight: 600;
        }

        ;

        &:hover {
            background-color: #3b99ca;
            color: var(--whiteColor);
        }
    }

    .submit_btn {
        background-color: var(--mainColor);
        color: var(--whiteColor);
    }
}

.star_class {
    color: red;
}

::ng-deep {

    .p-column-filter-row .p-column-filter-menu-button,
    .p-column-filter-row .p-column-filter-clear-button {
        display: none !important;
    }
}


.itemMaster table th , .itemMaster table td{
    padding: 10px 5px;
    white-space: nowrap;
}

.itemMaster .body-wrapper {
    padding: 10px 40px 0 50px !important;
}
::ng-deep {
    .item-table .p-dropdown {
        // height: 35px;
        padding: 2px;
        border-bottom: 1px solid #dedede;
        padding: 0;
        font-size: 13px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
    }

    .pi-chevron-down:before {
        font-size: 12px;
    }

    .item-table .p-dropdown .p-dropdown-trigger {
        width: 1.2rem !important;
    }

    .item-table .p-dropdown .p-dropdown-label {
        padding: 0;
    }

    .item-table td input,
    .item-table td select {
        border-bottom: 1px solid #dedede;
        padding: 0;
        font-size: 13px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
    }

    .p-dropdown .p-dropdown-label:enabled:focus,
    .p-dropdown:focus,
    .p-dropdown:not(.p-disabled).p-focus,
    .p-dropdown:hover {
        box-shadow: none !important;
        outline: none !important;
        border-color: #dedede !important;
    }

    .main-fields .p-inputtext , .main-fields .p-button.p-button-icon-only{
        height: 35.77px!important;
    }

    .itemMaster .p-button{
        background: #fb9678;
        border: 1px solid #fb9678;
    }

    .itemMaster .labour-select{
        width: 100px;
    }

    .item-table .p-autocomplete-dd .p-autocomplete-dropdown {
        border: none;
        color: #000;
        background: transparent;
        width: 1rem;
        padding: 0;
    }

    .item-table .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item{
        padding: 0.25rem 1rem!important;
    }

    .p-autocomplete-item{
        padding: 0.25rem 1rem!important;
    }
}


@media(max-width : 1440px){
    .itemMaster table th {
        padding: 5px;
        white-space: nowrap;
    }

    .itemMaster table td {
        padding: 5px;
    }
}