<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <!-- Breadcrumb Area -->
    <div style="display: flex; justify-content: space-between;">
        <h3>{{breadcrumb[0].title}}</h3>
        <!-- <div class="d-flex align-items-center">
            <input type="checkbox" name="" id="" (click)="showCustomerDropdown($event)" value="Existing User"
                class="mx-2"><span class="cursor-pointer">Existing User</span>
        </div> -->
    </div>
    <!-- End Breadcrumb Area -->


    <!-- Start -->
    <div class="add-listings-box1 itemMaster">
        <form class="purchasing-table-form" [formGroup]="itemMaster" (ngSubmit)="itemMasterSubmit()">
            <div class="row main-fields">
                <div class="col-lg-2 col-md-12 form-group">
                    <label>Bill No <span style="color: red;">*</span></label>
                    <span class="form-control" style="height: 35px;">{{itemMaster.controls['bill_no'].value}}</span>
                </div>
                <div class="col-lg-2 col-md-12 form-group">
                    <label>Bill Date <span style="color: red;">*</span></label>
                    <p-calendar placeholder="Enter Date" [showIcon]="true" [class.is-invalid]="(itemMaster.get('bill_date')?.touched &&
                itemMaster.get('bill_date')?.invalid)" dateFormat="dd/mm/yy" formControlName="bill_date"></p-calendar>
                    <div class="invalid-feedback mt-1"> Bill Date is Required </div>
                </div>

                <div class="col-lg-2 col-md-12 form-group shop-div">
                    <label>Shop Name</label>
                    <p-autoComplete formControlName="shop_name" [suggestions]="shopDataList" placeholder="Select Shop"
                        (completeMethod)="filterShop($event , 'shop_name')" field="shop_name"
                        (onSelect)="setFieldValues('shop')" (input)="setFieldValues('shop')" [dropdown]="true">
                        <ng-template let-country pTemplate="item">
                            <div class="country-item">
                                <div>{{country.shop_name}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <div class="invalid-feedback"> Shop Name is Required </div>
                </div>

                <div class="col-lg-2 col-md-12 form-group shop-div">
                    <label>Customer Name <span style="color: red;">*</span></label>
                    <p-autoComplete formControlName="name" [suggestions]="showCustomerList"
                        placeholder="Select Customer" (completeMethod)="filterShop($event , '')" field="name"
                        [dropdown]="true">
                        <ng-template let-country pTemplate="item">
                            <div class="country-item">
                                <div>{{country.name}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>

                    <div class="invalid-feedback"> Name is Required </div>
                </div>

                <div class="col-lg-2 col-md-12 form-group">
                    <label>Father's Name</label>
                    <input type="text" class="form-control" formControlName="father_name" placeholder="Father's Name">
                </div>

                <div class="col-lg-2 col-md-12 form-group">
                    <label>Mobile No <span style="color: red;">*</span></label>
                    <input type="text" pKeyFilter="int" maxlength="10" class="form-control"
                        [class.is-invalid]="(getFormControl('mobile').touched && getFormControl('mobile').invalid)"
                        formControlName="mobile" placeholder="Mobile No." required>
                    <div class="invalid-feedback"> Mobile No is Required </div>
                </div>

                <div class="col-lg-2 col-md-12 form-group">
                    <label>City <span style="color: red;">*</span></label>
                    <input class="form-control"
                        [class.is-invalid]="(getFormControl('city').touched && getFormControl('city').invalid)"
                        type="text" formControlName="city" placeholder="City">
                    <div class="invalid-feedback"> City is Required </div>
                </div>

                <div class="col-lg-2 col-md-12 form-group">
                    <label>Aadhar</label>
                    <input type="text" class="form-control"
                        [class.is-invalid]="(getFormControl('aadhar').touched && getFormControl('aadhar').errors?.pattern)"
                        oninput="this.value= this.value.toUpperCase()" formControlName="aadhar" placeholder="aadhar No">
                    <div class="invalid-feedback"> Aadhar is Not Valid </div>
                </div>



                <div class="col-lg-2 col-md-12 form-group">
                    <label>PAN </label>
                    <input class="form-control" type="text" [class.is-invalid]="(getFormControl('pan').touched &&
                getFormControl('pan').errors?.pattern)" oninput="this.value= this.value.toUpperCase()"
                        formControlName="pan" placeholder="PAN">
                    <div class="invalid-feedback"> Pan is Not Valid </div>
                </div>
            </div>

            <h4 class="my-3">Item List</h4>
            <div style="overflow-x: auto; max-height: 240px;">
                <table class="table-bordered table item-table" style="max-height: 240px;">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th style="min-width: 100px;">Product</th>
                            <th>Grs Wt</th>
                            <th>Melting</th>
                            <th>Wastage</th>
                            <th>Sm Pck Wt</th>
                            <th>Sm Pck Qty</th>
                            <th>Big P Wt</th>
                            <th>Big P Qty</th>
                            <th>Box Wt</th>
                            <th>Box Qty</th>
                            <th>Labour By</th>
                            <th>Labour</th>
                            <th>Total Lab</th>
                            <th>Piec. Qty</th>
                            <th>Net Wt</th>
                            <th style="min-width: 70px;">Rate</th>
                            <th style="min-width: 70px;">Fine</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <ng-container formArrayName="productList">
                        <tbody *ngFor="let product of getProductArray().controls; index as index; last as last">
                            <tr [formGroupName]="index">
                                <td style="text-align: center;">{{index+1}}</td>
                                <td style="min-width: 100px;">
                                    <p-dropdown appendTo="body" (onChange)="setFieldValues('product_id' , index)" formControlName="product_id" [options]="product_listing" appendTo="body"
                                        optionLabel="name" placeholder="product" optionValue="id" [filter]="true" [filterBy]="'name'"></p-dropdown>
                                    <!-- <p-autoComplete formControlName="product_id" [suggestions]="product_listing"
                                        placeholder="Product" appendTo="body"
                                        (onSelect)="setFieldValues('product_id' , index)"
                                        (input)="setFieldValues('product_id' , index)"
                                        (completeMethod)="filterShop($event, 'name')" field="name" [dropdown]="true">
                                        <ng-template let-country pTemplate="item">
                                            <div class="country-item">
                                                <div>{{country.name}}</div>
                                            </div>
                                        </ng-template>
                                    </p-autoComplete> -->
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control"
                                        formControlName="gross_weight" (input)="getNetWeight('' , index)">
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control" formControlName="melting"
                                        (input)="getNetWeight('' , index)">
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control" formControlName="wastage"
                                        (input)="getNetWeight('' , index)">
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control"
                                        formControlName="small_pack_weight" (input)="getNetWeight('' , index)">
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control"
                                        formControlName="small_pack_quantity" (input)="getNetWeight('' , index)">
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control"
                                        formControlName="big_pack_weight" (input)="getNetWeight('' , index)">
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control"
                                        formControlName="big_pack_quantity" (input)="getNetWeight('' , index)">
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control"
                                        formControlName="box_weight" (input)="getNetWeight('' , index)">
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control"
                                        formControlName="box_quantity" (input)="getNetWeight('' , index)">
                                </td>
                                <td>
                                    <select formControlName="labour_by" class="form-control form-select labour-select"
                                        (change)="checkTotal($event , index)">
                                        <option value="" disabled>Labour By</option>
                                        <ng-container *ngFor="let value of labour_dropdown">
                                            <option [value]="value.actualValue">{{value.value}}</option>
                                        </ng-container>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control"
                                        (input)="getNetWeight('' , index)" formControlName="labour">
                                </td>
                                <td><span
                                        style="border-bottom: 1px solid #dedede; display: block;">{{getProductArray().value[index]['total_labour']}}</span>
                                </td>
                                <td>
                                    <input type="text" pKeyFilter="num" class="form-control"
                                        formControlName="piece_quantity" (change)="getNetWeight('' , index)">
                                </td>
                                <td><span
                                        style="border-bottom: 1px solid #dedede; display: block;">{{getProductArray().value[index]['weight']}}</span>
                                </td>
                                <td><span
                                        style="border-bottom: 1px solid #dedede; display: block;">{{getProductArray().value[index]['rate']}}</span>
                                </td>
                                <td><span
                                        style="border-bottom: 1px solid #dedede; display: block;">{{getProductArray().value[index]['fine']}}</span>
                                </td>
                                <td style="text-align: center; cursor: pointer;" *ngIf="last"
                                    (click)="addProductRow('add' , 0 , 1)">
                                    <span>+</span>
                                </td>
                                <td style="text-align: center; cursor: pointer;" *ngIf="!last"
                                    (click)="addProductRow('remove',index)">
                                    <span>-</span>
                                </td>
                            </tr>
                        </tbody>
                    </ng-container>
                </table>
            </div>


            <div class="add-listings-btn mt-1">
                <div style="margin: 10px 0; float: right;width: 29.2%;">
                    <table class="table-bordered item-table" style="border-color: #dedede;width: 100%;">
                        <thead>
                            <tr>
                                <th>Total Fine</th>
                                <th>Gold Rate</th>
                                <th>Payment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{getAmount('total_fine') | number}}</td>
                                <td><input type="number" min="0" class="form-control" formControlName="gold_rate"
                                        placeholder="Gold Rate"></td>
                                <td>{{getAmount('payment') | number}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="submit_btn mt-2" style="float: right;">Submit</button>
                </div>
            </div>
        </form>
    </div>