<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area d-flex justify-content-between align-items-center" *ngFor="let Content of breadcrumb;">
        <div>
            <h3 class="my-0">{{Content.title}}</h3>
        </div>
        <button (click)="showAddForm = !showAddForm" style="color: #ffff;">Add</button>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start -->
    <div class="add-listings-box1">
        <form [formGroup]="itemMaster" (ngSubmit)="itemMasterSubmit(formRef)" #formRef="ngForm">
            <div class="row m-0">
                <div class="col-lg-2 col-md-12 form-group">
                    <label for="">Product</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Product Name"
                        [class.is-invalid]="(formRef.submitted &&
                        itemMaster.get('name')?.invalid) ||
                        (itemMaster.get('name')?.touched &&
                        itemMaster.get('name')?.invalid)" >
                    <div class="invalid-feedback"> Product is Required</div>
                </div>
                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Net Weight</label>
                        <input type="number" min="0" class="form-control" formControlName="weight"
                            placeholder="Weight" [class.is-invalid]="(formRef.submitted &&
                            itemMaster.get('weight')?.invalid) ||
                            (itemMaster.get('weight')?.touched &&
                            itemMaster.get('weight')?.invalid)" (blur)="calculateValues('fine')">
                    </div>
                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Melting</label>
                        <input type="text" class="form-control" formControlName="melting" placeholder="Melting"
                            [class.is-invalid]="(formRef.submitted &&
                            itemMaster.get('melting')?.invalid) ||
                            (itemMaster.get('melting')?.touched &&
                            itemMaster.get('melting')?.invalid)" pKeyFilter="int" (blur)="calculateValues('purchasing_price')">
                    </div>
                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Wastage</label>
                        <input type="text" class="form-control" formControlName="wastage" placeholder="Wastage"
                            [class.is-invalid]="(formRef.submitted &&
                            itemMaster.get('wastage')?.invalid) ||
                            (itemMaster.get('wastage')?.touched &&
                            itemMaster.get('wastage')?.invalid)" pKeyFilter="int" (blur)="calculateValues('purchasing_price')">
                    </div>
                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Stock</label>
                        <input type="text" class="form-control" formControlName="stock" placeholder="Stock"
                            [class.is-invalid]="(formRef.submitted &&
                            itemMaster.get('stock')?.invalid) ||
                            (itemMaster.get('stock')?.touched &&
                            itemMaster.get('stock')?.invalid)" pKeyFilter="int">
                    </div>

                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Labour</label>
                        <input type="number" min="0" class="form-control" formControlName="labour" placeholder="Labour"
                            [class.is-invalid]="(formRef.submitted &&
                            itemMaster.get('labour')?.invalid) ||
                            (itemMaster.get('labour')?.touched &&
                            itemMaster.get('labour')?.invalid)" (blur)="calculateValues()">
                    </div>

                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Purchasing Price</label>
                        <span class="form-control">{{(itemMaster.get('purchasing_price')?.value)}}</span>
                    </div>

                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Fine</label>
                        <span class="form-control" (blur)="calculateValues()">{{itemMaster.get('fine')?.value}}</span>
                    </div>

                    <div class="col-lg-2 col-md-12 form-group d-flex align-items-center">
                        <input type="checkbox" value="Less Weight" formControlName="less_weight"><span class="mx-2">Less
                            Weight</span>
                    </div>
    
                    <ng-container *ngIf="itemMaster.controls['less_weight'].value">
                        <div class="col-lg-2 col-md-12 form-group">
                            <label for="">Small Pack Qty</label>
                            <input type="number" min="0" class="form-control" formControlName="small_pack_quantity"
                                placeholder="Small Pack Qty" (blur)="calculateValues()">
                        </div>
                        <div class="col-lg-2 col-md-12 form-group">
                            <label for="">Small Pack Wt</label>
                            <input type="number" min="0" class="form-control" formControlName="small_pack_weight"
                                placeholder="Small Pack Wt" (blur)="calculateValues()">
                        </div>
                        <div class="col-lg-2 col-md-12 form-group">
                            <label for="">Big Pack Qty</label>
                            <input type="number" min="0" class="form-control" formControlName="big_pack_quantity"
                                placeholder="Big Pack Qty" (blur)="calculateValues()">
                        </div>
                        <div class="col-lg-2 col-md-12 form-group">
                            <label for="">Big Pack Wt</label>
                            <input type="number" min="0" class="form-control" formControlName="big_pack_weight"
                                placeholder="Big Pack Wt" (blur)="calculateValues()">
                        </div>
                        <div class="col-lg-2 col-md-12 form-group">
                            <label for="">Box Wt</label>
                            <input type="number" min="0" class="form-control" formControlName="box_weight"
                                placeholder="Box Wt" (blur)="calculateValues()">
                        </div>
                        <div class="col-lg-2 col-md-12 form-group">
                            <label for="">Box Qty</label>
                            <input type="number" min="0" class="form-control" formControlName="box_quantity"
                                placeholder="Box Qty" (blur)="calculateValues()">
                        </div>
                    </ng-container>

                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Gross Weight</label>
                        <span class="form-control">{{itemMaster.controls['gross_weight'].value}}</span>
                    </div>

                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Total Labour</label>
                        <span class="form-control">{{itemMaster.get('total_labour')?.value}}</span>
                    </div>
                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Sell Rate</label>
                        <input type="number" min="0" class="form-control" formControlName="sell_rate"
                            placeholder="Sell Rate" (blur)="calculateValues()">
                    </div>

                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Sell Fine</label>
                        <input type="number" min="0" class="form-control" formControlName="sell_fine"
                        placeholder="Sell Fine">
                    </div>

                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Sell Labour</label>
                        <input type="number" min="0" class="form-control" formControlName="sell_labour"
                            placeholder="Sell Labour" (blur)="calculateValues()">
                    </div>
    
                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Total Sell Labour</label>
                        <span class="form-control">{{itemMaster.get('total_sell_labour')?.value}}</span>
                    </div>

                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Profit Fine</label>
                        <span class="form-control">{{itemMaster.get('profit_fine')?.value | number}}</span>
                    </div>
    
                    <!-- <div class="col-lg-2 col-md-12 form-group" *ngIf="itemMaster.get('labour_by')?.value == 'piece'">
                        <label for="">Piece Quantity</label>
                        <input type="number" min="0" class="form-control" formControlName="piece_quantity"
                            placeholder="Piece Quantity" [class.is-invalid]="(formRef.submitted &&
                            itemMaster.get('piece_quantity')?.invalid) ||
                            (itemMaster.get('piece_quantity')?.touched &&
                            itemMaster.get('piece_quantity')?.invalid)">
                    </div>
                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Labour By</label>
                        <select formControlName="labour_by" class="form-control form-select" [class.is-invalid]="(formRef.submitted &&
                        itemMaster.get('labour_by')?.invalid) ||
                        (itemMaster.get('labour_by')?.touched &&
                        itemMaster.get('labour_by')?.invalid)" >
                            <option value="" disabled>Labour By</option>
                            <ng-container *ngFor="let value of labour_dropdown">
                                <option [value]="value.actualValue">{{value.value}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Gold Rate</label>
                        <input type="number" min="0" class="form-control" formControlName="gold_rate"
                            placeholder="Gold Rate" [class.is-invalid]="(formRef.submitted &&
                            itemMaster.get('gold_rate')?.invalid) ||
                            (itemMaster.get('gold_rate')?.touched &&
                            itemMaster.get('gold_rate')?.invalid)" >
                    </div>
                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Net Weight</label>
                        <span class="form-control">{{getNetWeight('net weight')}}</span>
                    </div>
                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Rate</label>
                        <span class="form-control">{{getNetWeight('rate')}}</span>
                    </div>
                    <div class="col-lg-2 col-md-12 form-group">
                        <label for="">Fine</label>
                        <span class="form-control">{{getNetWeight('fine')}}</span>
                    </div> -->
                    <div class="col-lg-2 col-md-12 form-group" style="display: flex; align-items: end; justify-content: left;">
                        <div class="form-group">
                            <button type="submit" class="submit_btn m-0">{{submitButton}}</button>
                        </div>
                    </div>
            </div>
        </form>

    </div>
















    <div class="card stock-card" *ngIf="productList.length > 0">
        <p-table #dt1 [value]="productList" dataKey="id"
            [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['name']">
            <ng-template pTemplate="caption">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="filterval" (input)="filterTable($event)" placeholder="Search keyword" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>S.No.</th>
                    <th>Product Name</th>
                    <th>Net Wt</th>
                    <th>Melting</th>
                    <th>Wastage</th>
                    <th>Stock</th>
                    <th>Labour</th>
                    <th>Purchasing Price</th>
                    <th>Fine</th>
                    <th>Small Pac. Wt</th>
                    <th>Small Pac. Qty</th>
                    <th>Big Pac. Wt</th>
                    <th>Big Pac. Qty</th>
                    <th>Box Wt</th>
                    <th>Box Qty</th>
                    <th>Total Labour</th>
                    <th>Sell Rate</th>
                    <th>Sell Fine</th>
                    <th>Sell Labour</th>
                    <th>Total Sell Labour</th>
                    <th>Profit Fine</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-ri="rowIndex">
                <tr>
                    <td>{{ri + 1}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.weight ? (product.weight | number) : 0}}</td>
                    <td>{{product.melting ? product.melting : 0}}</td>
                    <td>{{product.wastage ? (product.wastage  | number) : 0}}</td>
                    <td>{{product.stock | number}}</td>
                    <td>{{product.labour | number}}</td>
                    <td>{{product.purchasing_price ? (product.purchasing_price| number) : 0}}</td>
                    <td>{{product.fine | number}}</td>
                    <td>{{product.small_pack_weight ? product.small_pack_weight : 0}}</td>
                    <td>{{product.small_pack_quantity ? product.small_pack_quantity : 0}}</td>
                    <td>{{product.big_pack_weight ? product.big_pack_weight : 0}}</td>
                    <td>{{product.big_pack_quantity ? product.big_pack_quantity : 0}}</td>
                    <td>{{product.box_weight ? product.box_weight : 0}}</td>
                    <td>{{product.box_quantity ? product.box_quantity : 0}}</td>
                    <td>{{product.total_labour | number}}</td>
                    <td>{{product.sell_rate}}</td>
                    <td>{{product.sell_fine}}</td>
                    <td>{{product.sell_labour}}</td> 
                    <td>{{product.total_sell_labour}}</td> 
                    <td>{{product.profit_fine}}</td> 
                    <td style="cursor: pointer; display: flex; justify-content: center;">
                        <i (click)="editItem(ri)" class="pi pi-pencil text-2xl text-color-secondary"></i>
                    </td>   
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No listing found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>